@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body {
  font-family: 'Space Mono', monospace;
  @apply min-h-screen bg-black p-2 md:p-4;
}

a {
  @apply italic underline;
}
.container {
  @apply flex flex-col;
}
header {
  @apply mt-8;
}
header h1 {
  font-family: 'Gabarito Variable', system-ui;
  @apply underline-offset-3 grow text-8xl underline;
}
header p {
  font-family: 'Rock Salt', cursive;
  @apply mt-2 text-2xl;
}

main {
  @apply mt-4 max-h-full;
}

section {
  @apply my-4;
}
section h2 {
  @apply text-4xl;
}

footer {
  @apply my-8 text-center;
}
