@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body {
  font-family: 'Space Mono', monospace;
  @apply min-h-screen bg-black px-2 text-white md:px-4;
}

a {
  @apply px-1 italic underline;
}
a:hover {
  @apply bg-lime-400 text-black;
}
.container {
  @apply flex flex-col;
}

header {
  @apply sticky top-0 z-20 mx-auto max-w-3xl;
}
header h1 {
  font-family: 'Gabarito Variable', system-ui;
  @apply underline-offset-3 grow pt-8 text-8xl underline;
}
header .tagline {
  font-family: 'Rock Salt', cursive;
  @apply mt-2 text-xl md:text-2xl;
}

main {
  @apply relative mx-auto max-w-3xl;
}

section h2 {
  @apply text-4xl;
}

footer {
  @apply sticky bottom-0 flex flex-col pb-12 text-right;
}

footer p {
  @apply my-16;
}

span .c {
  @apply text-2xl;
}
.links a:hover {
  @apply bg-transparent;
}
.links .icon {
  @apply inline-block h-6 w-6 hover:bg-yellow-300 hover:fill-black;
}

.events {
  @apply mb-36;
}

/* / */
.fixed-section {
  @apply flex flex-col;
}

.fixed-section__header {
  @apply sticky z-10  top-[18rem];
  /* top: calc(theme('spacing.16') + theme('spacing.16') + theme('fontSize.8xl')); */
}

.fixed-section__content {
  @apply relative my-12;
}

.playlist {
  @apply mb-24;
}
.playlist-info {
  @apply mx-auto my-6 max-w-full md:max-w-[75%];
}

.playlistinfo p {
  @apply mb-6 max-w-full md:max-w-[65ch];
}

.embed {
  @apply mx-auto my-6 max-w-full py-6 md:max-w-[75%];
}
