@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body {
  font-family: 'Space Mono', monospace;
  @apply min-h-screen bg-black px-2 md:px-4 text-white;
}

a {
  @apply italic underline;
}
.container {
  @apply flex flex-col;
}
header {
  @apply top-0 sticky;
}
header h1 {
  font-family: 'Gabarito Variable', system-ui;
  @apply underline-offset-3 pt-8 grow text-8xl underline;
}
header p {
  font-family: 'Rock Salt', cursive;
  @apply mt-2 text-xl md:text-2xl;
}

main {
  @apply mt-4 max-h-full;
}

section {
  @apply my-4;
}
section h2 {
  @apply text-4xl;
}

footer {
  @apply text-right bottom-0 sticky;
}

footer p {
  @apply my-16;
}

span .c {
  @apply text-2xl;
}