---
/**
 * SmoothScroller Component
 *
 * A reusable Astro component that implements smooth scrolling functionality using GSAP's
 * ScrollSmoother plugin. This component creates a wrapper structure that enables smooth
 * scrolling effects for any content passed to it via the slot.
 *
 * Dependencies:
 * - GSAP (GreenSock Animation Platform)
 * - ScrollTrigger plugin
 * - ScrollSmoother plugin
 *
 * @component
 */

import { gsap } from 'gsap'
import { ScrollSmoother } from 'gsap/ScrollSmoother'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

// Register required GSAP plugins

---

<div id="smooth-wrapper">
  <div id="smooth-content">
    <!-- 
          Slot component that allows parent components to inject content
          into the smooth scrolling wrapper. This enables the smooth
          scrolling effect to be applied to any content passed to this component.
        -->
    <slot />
  </div>
</div>


<script>

// create the scrollSmoother before your scrollTriggers
ScrollSmoother.create({
  smooth: 1, // how long (in seconds) it takes to "catch up" to the native scroll position
  effects: true, // looks for data-speed and data-lag attributes on elements
  smoothTouch: 0.1, // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
});
</script>