---
import { Image } from 'astro:assets';
import clubCultureFlyer from '../assets/club-culture-2025-06-07.webp';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <header>
    <h1>Love Hangover</h1>
    <p class="tagline">QUEER. PUNK. ACID. SWEAT.</p>
    <p class="next">
      <b>NEXT PARTY:</b>
    </p>
  </header>

  <main>
    <section>
      <Image
        src={clubCultureFlyer}
        alt="Club Culture June 7th 2025 at The Casbah"
        class="mx-auto my-8 block max-w-sm"
      />
      <p>
        Dream and Messy Era Present...
        <h2>Club Culture</h2>
        Saturday, June 7th 2025 at The Casbah <br />
        <a href="https://wl.seetickets.us/event/club-culture/650219"
          >Event Info + Presale Tickets</a
        >
      </p>
    </section>
  </main>

  <footer>
    <p>
      A party by Consent <span class="copy">&copy; </span> 2025
    </p>
  </footer>
</Layout>
