---
import nextPartyFlyer from '@assets/club-culture-2025-06-07.webp'
import FixedSection from '@components/FixedSection.astro'
import SpotifyPlaylist from '@components/SpotifyPlaylist.astro'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import InstagramLogo from 'phosphor-astro/InstagramLogo.astro'
---

<Layout>
  <header>
    <h1>Love Hangover</h1>
    <p class="tagline">QUEER. PUNK. ACID. SWEAT.</p>
  </header>

  <main>
    <FixedSection id="next-party" headerText="Next Party:" class="next-party">
      <Image
        src={nextPartyFlyer}
        alt="Club Culture June 7th 2025 at The Casbah"
        class="next-party-flyer"
      />
    </FixedSection>
    <FixedSection id="next-party-info" headerText="" class="next-party-info">
      <p>
        Dream and Messy Era Present...
        <h2>Club Culture</h2>
        Saturday, June 7th 2025 at The Casbah <br />
        <a
          href="https://wl.seetickets.us/event/club-culture/650219?afflky=Casbah"
          target="_blank">Event Info + Presale Tickets</a
        >
      </p>
    </FixedSection>
    <FixedSection
      id="lh-playlist-header"
      headerText="Check out our playlist:"
      class="playlist-header"
    />
    <FixedSection id="lh-playlist" headerText="" class="playlist">
      <div class="playlist-title"><h2>Love Hangover</h2> Spring 2025</div>
      <div class="playlist-info">
        <p>
          120 minutes featuring a slice of Love Hangover’s most intoxicating &
          dangerous cuts. Some secrets are meant to be heard. Curated by <a
            href="https://www.instagram.com/lola_rey_/"
            target="_blank">Miss Lady D</a
          > & <a href="https://www.instagram.com/antithetic" target="_blank"
            >Filoso</a
          >.
        </p>

        <p>
          Listen on Spotify [<a
            href="https://open.spotify.com/playlist/47b3JV89sKcL6dkC3bMO6p?si=tcToFt5LSvW_4FedcHpT6w"
            target="_blank">LINK</a
          >]
        </p>
      </div>

      <div class="playlist-embed">
        <SpotifyPlaylist
          playlistUrl="https://open.spotify.com/playlist/47b3JV89sKcL6dkC3bMO6p?si=tcToFt5LSvW_4FedcHpT6w"
          compact={true}
        />
      </div>
    </FixedSection>
  </main>

  <footer>
    <div>A party by Consent &copy; 2025</div>
    <div class="links">
      follow us ~ <a
        href="https://instagram.com/love.hangover.sd"
        target="_blank"><InstagramLogo class="icon" /></a
      >
    </div>
  </footer>
</Layout>
